<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="assets/img/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Awesome Landing Page by Creative Tim</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        <link href="assets/css/bootstrap.css" rel="stylesheet" />
        <link href="assets/css/landing-page.css" rel="stylesheet"/>

        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    </head>
    <body class="landing-page landing-page2">
        <nav class="navbar navbar-transparent navbar-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                    </button>
                    <a href="#">
                        <div class="logo-container">
                            <div class="logo">
                                <img src="assets/img/web_app.png" alt="Creative Tim Logo">
                            </div>
                            <div class="brand">
                                EXO TechSolution
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="example" >
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                            <i class="fa fa-facebook-square"></i>
                            Like
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <i class="fa fa-twitter"></i>
                            Tweet
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <i class="fa fa-pinterest"></i>
                            Pin
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="wrapper">
            <div class="parallax filter-gradient blue" data-color="blue">
                <div class= "container">
                    <div class="row">
                        <div class="col-md-7  hidden-xs">
                            <div class="parallax-image">
                                <img src="assets/img/showcases/showcase-2/mac1.png"/>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="description text-center">
                                <h2>Welcome Bitcoin Gold, Status and more!</h2>
                                <br>
                                <h5>Control Your Future Wealth
                                    All-in-one app to secure, manage and exchange blockchain assets.
                                </h5>
                                <div class="buttons">
                                    <a  target="_blank" href="https://1drv.ms/u/s!ArraM84-P98Nr0gKnXn4S69pXwmQ" class="btn btn-fill btn-neutral">
                                    <i class="fa fa-download"></i> Download For Window
                                    </a>
                                    <a target="_blank" href="https://1drv.ms/f/s!ArraM84-P98Nh00HWv7TmpBgAX11" class="btn btn-fill btn-neutral">
                                        <i class="fa fa-download"></i> Download For Mac
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-gray section-clients">
                <div class="container text-center">
                    <h4 class="header-text">We Made Crypto Beautiful</h4>
                    <p>
                        EXO wraps solid engineering inside beautiful design. We poured our hearts into every detail, from pixel-perfect icons to subtle sounds, making a blockchain asset experience that "just works for normal people". Our goal: Remove the geek requirement to use cryptocurrency and make design a priority - we think it shows.<br>
                    </p>
                    <div class="logos">
                        <ul class="list-unstyled">
                            <li ><img width="93px" src="assets/img/logos/aragon.png"/></li>
                            <li ><img width="93px" src="assets/img/logos/augur.png"/></li>
                            <li ><img width="93px" src="assets/img/logos/litecoin.png"/></i>
                            <li ><img width="93px" src="assets/img/logos/bitcoin.png"/></li>
                            <li ><img width="93px" src="assets/img/logos/dash.png"/></li>
                            <li ><img width="93px" src="assets/img/logos/funfair.png"/></li>
                        </ul>
                    </div>
                </div>
            </div>           
            <div class="section section-demo">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="demo-image">
                                <img src="assets/img/download.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <h4 class="header-text">FRIENDLY, ONE-CLICK EXCHANGE</h4>
                            <p>
                                EXO is designed for people who have never used an exchange. Ready to exchange Bitcoin for Ethereum? Exodus hides the complex details; in seconds, assets are exchanged behind the scenes.
                            </p>
                            <p>
                                EXO makes it fun and easy to learn and use blockchain assets. No technical talk. No messy wallets. No confusing steps.
                            </p>
                        </div>
                    </div>
                    <br>
                
                </div>
            </div>
            <div class="section section-features">
                <div class="container">
                    <h4 class="header-text text-center">Features</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-pen"></i>
                                </div>
                                <div class="text">
                                    <h4>CONTROL YOUR KEYS</h4>
                                    <p>EXO encrypts private keys and transaction data locally for your eyes only. Your data remains private - no account setup required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-look"></i>
                                </div>
                                <h4>Retina Ready</h4>
                                <p>Automatic text and email reminders make sure customers always remember their upcoming appointments.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-like"></i>
                                </div>
                                <h4>BEAUTIFUL LIVE CHARTS</h4>
                                <p>Track the value of your blockchain asset portfolio, in real time, as market conditions change.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-piggy"></i>
                                </div>
                                <h4>PERSONALIZED FOR YOU</h4>
                                <p>Like darker themes? How about a subtle space background? Exodus gives you a personal look with everything from traditional gray to patterns or customized themes..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-testimonial">
                <div class="container">
                    <h4 class="header-text text-center">What people think</h4>
                    <div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item">
                                <div class="mask">§
                                    <img src="assets/img/faces/face-4.jpg">
                                </div>
                                <div class="carousel-testimonial-caption">
                                    <p>Jay Z, Producer</p>
                                    <h3>"I absolutely love your app! It's truly amazing and looks awesome!"</h3>
                                </div>
                            </div>
                            <div class="item active">
                                <div class="mask">
                                    <img src="assets/img/faces/face-3.jpg">
                                </div>
                                <div class="carousel-testimonial-caption">
                                    <p>Drake, Artist</p>
                                    <h3>"Coding the technical magic behind the scenes, JP has published over 200 open source libraries and has written code in use by most Bitcoin and cryptocurrency software on the web."</h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="mask">
                                    <img src="assets/img/faces/face-2.jpg">
                                </div>
                                <div class="carousel-testimonial-caption">
                                    <p>Rick Ross, Musician</p>
                                    <h3>"From subtle sounds to smooth animations Daniel creates a trusted, warm feeling when using Exodus. He is a master of emotional design and has designed experiences for Apple, BMW, Disney, Louis Vuitton and Nike."</h3>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators carousel-indicators-blue">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="section section-no-padding">
                <div class="parallax filter-gradient blue" data-color="blue">
                    <div class="parallax-background">
                        <img class ="parallax-background-image" src="assets/img/showcases/showcase-2/bg2.jpg">
                    </div>
                    <div class="info">
                        <h1>Download Our App!</h1>
                        <p>For Windows MAC.</p>
                        <p><a href="https://1drv.ms/u/s!ArraM84-P98Nr0gKnXn4S69pXwmQ" target="_blank" style="padding:10px;background:white">DOWNLOAD Windows App</a>
                        <a href="https://1drv.ms/f/s!ArraM84-P98Nh00HWv7TmpBgAX11" target="_blank" style="padding:10px;background:white">DOWNLOAD Mac App</a></p>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav class="pull-left">
                        
                    </nav>
                    <div class="social-area pull-right">
                        <a class="btn btn-social btn-facebook btn-simple">
                        <i class="fa fa-facebook-square"></i>
                        </a>
                        <a class="btn btn-social btn-twitter btn-simple">
                        <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-social btn-pinterest btn-simple">
                        <i class="fa fa-pinterest"></i>
                        </a>
                    </div>
                    <div class="copyright">
                        &copy; 2018 EXO
                    </div>
                </div>
            </footer>
        </div>
        
    </body>
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.js" type="text/javascript"></script>
    <script src="assets/js/awesome-landing-page.js" type="text/javascript"></script>
</html>
