@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('AvenirNextLTPro-Regular.eot');
  src: url('AvenirNextLTPro-Regular.woff2') format('woff2'),
       url('AvenirNextLTPro-Regular.woff') format('woff'),
       url('AvenirNextLTPro-Regular.ttf') format('truetype'),
       url('AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg'),
       url('AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextLTPro-MediumCn';
  src: url('AvenirNextLTPro-MediumCn.eot');
  src: url('AvenirNextLTPro-MediumCn.woff2') format('woff2'),
       url('AvenirNextLTPro-MediumCn.woff') format('woff'),
       url('AvenirNextLTPro-MediumCn.ttf') format('truetype'),
       url('AvenirNextLTPro-MediumCn.svg#AvenirNextLTPro-MediumCn') format('svg'),
       url('AvenirNextLTPro-MediumCn.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextLTPro-DemiCn';
  src: url('AvenirNextLTPro-DemiCn.eot');
  src: url('AvenirNextLTPro-DemiCn.woff2') format('woff2'),
       url('AvenirNextLTPro-DemiCn.woff') format('woff'),
       url('AvenirNextLTPro-DemiCn.ttf') format('truetype'),
       url('AvenirNextLTPro-DemiCn.svg#AvenirNextLTPro-DemiCn') format('svg'),
       url('AvenirNextLTPro-DemiCn.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url('AvenirLTStd-Book.eot');
  src: url('AvenirLTStd-Book.woff2') format('woff2'),
       url('AvenirLTStd-Book.woff') format('woff'),
       url('AvenirLTStd-Book.ttf') format('truetype'),
       url('AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg'),
       url('AvenirLTStd-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


